<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <body>
    <div class = "navbar">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="network">Network</a></li>
        <li><a href="jobs">Jobs</a></li>
        <li><a href="messages">Messages</a></li>
        <li><a href="notifications">Notifications</a></li>
        <li><a href="profile/me">Profile</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      </ul>
    </div>
    <div *ngIf="displaySwitch; then jobs; else post_job"></div>
    <ng-template #jobs>
      <button (click)="displaySwitch=false">Users Page</button>
      <div class="flex-container">
        <div class="profile-card" *ngFor="let user of users">
          <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
          <div>
            <h4>
              <b><a href="profile/{{user.email}}">{{user.firstname}} {{user.lastname}}</a></b>
            </h4> 
            <p><i class="material-icons">email</i> {{user.email}}</p> 
            <p><i class="material-icons">contact_phone</i> {{user.phone}}</p> 
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #post_job>
      <p>hello</p>
    </ng-template>
  </body>
</html>
