<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <body>
    <div class = "navbar">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="network">Network</a></li>
        <li><a href="jobs">Jobs</a></li>
        <li><a href="messages">Messages</a></li>
        <li><a href="notifications">Notifications</a></li>
        <li><a href="profile/me">Profile</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      </ul>
    </div>
    </body>
  </html>
