<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>

    <div class = "navbar">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="network">Network</a></li>
        <li><a href="announcements">Announcements</a></li>
        <li><a href="messages">Messages</a></li>
        <li><a href="notifications">Notifications</a></li>
        <li><a href="profile/me">Profile</a></li>
        <li><a routerLink="/settings">Settings</a></li>
        <li>
          <div class="search-container">
              <form (ngSubmit)="onSubmit()" #f="ngForm">
                <input type="text" placeholder="Search..." ngModel name=search>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="displaySwitch; then network; else search"></div>
    <ng-template #network>
      This is network
    </ng-template>

      <ng-template #search>
        <div class="container">
          <table>
            <tr *ngFor="let user of users">
              <th><a href="profile/{{user.email}}">{{user.firstname}} {{user.lastname}}</a></th>
            </tr>
          </table>
        </div>
      </ng-template>
    
    
    

  </body>
</html>