<!DOCTYPE html>
<html>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <body>

    
    <div *ngIf="adminSwitch; then adminprofile; else userprofile"></div>
    
    <ng-template #adminprofile>
        <div class = "navbar">
          <ul>
            <li><a href="admin">Users Page</a></li>
          </ul>
        </div>
        <div class="profile-card">
            <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
              <h4>
                <b>{{user.firstname}} {{user.lastname}}</b>
                <div *ngIf="myprofile; then editProfile; else addFriend;"></div>
              </h4> 
              
              <p><i class="material-icons">email</i> {{user.email}}</p> 
              <p><i class="material-icons">contact_phone</i> {{user.phone}}</p> 
            </div>
        </div>
        <div class="big-card">
            <div class="container">
              <h1>
                <b>Work Experience</b>
              </h1> 
              <p>work experience text...</p> 
            </div>
        </div>
        <div class="big-card">
            <div class="container">
              <h1>
                <b>Education</b>
              </h1> 
              <p>education text...</p> 
            </div>
        </div>
        <div class="big-card">
            <div class="container">
              <h1>
                <b>Skills</b>
              </h1> 
              <p>skills text...</p> 
            </div>
        </div>
    </ng-template>
    
    <ng-template #userprofile>
    <div class = "navbar">
      <ul>
        <li><a href="home">Home</a></li>
        <li><a href="network">Network</a></li>
        <li><a href="jobs">Jobs</a></li>
        <li><a href="messages">Messages</a></li>
        <li><a href="notifications">Notifications</a></li>
        <li><a href="profile/me">Profile</a></li>
        <li><a routerLink="/settings">Settings</a></li>
      </ul>
    </div>

    <div *ngIf="displaySwitch; then profile; else edit"></div>
    <!-- profile template -->
    <ng-template #profile>
      <div class="profile-card">
          <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
          <div class="container">
            <h4>
              <b>{{user.firstname}} {{user.lastname}}</b>
              <div *ngIf="myprofile; then editProfile; else addFriend;"></div>
              <ng-template #addFriend>
                <button class="friendbutton" (click)="onClick()">{{friendStatus}}</button>
              </ng-template>
              <ng-template #editProfile>
                <button class="friendbutton" (click)="editProf()">Edit Profile</button>
              </ng-template>
            </h4> 
            
            <p><i class="material-icons">email</i> {{user.email}}</p> 
            <p><i class="material-icons">contact_phone</i> {{user.phone}}</p> 
          </div>
      </div>
      <div class="big-card">
          <div class="container">
            <h1>
              <b>Work Experience</b>
            </h1> 
            <p>work experience text...</p> 
          </div>
      </div>
      <div class="big-card">
          <div class="container">
            <h1>
              <b>Education</b>
            </h1> 
            <p>education text...</p> 
          </div>
      </div>
      <div class="big-card">
          <div class="container">
            <h1>
              <b>Skills</b>
            </h1> 
            <p>skills text...</p> 
          </div>
      </div>
    </ng-template>
      <!-- edit profile template -->
        <ng-template #edit>
            <form (ngSubmit)="saveChanges()" #f="ngForm">
          <div class="profile-card">
            <!-- <img src="img_avatar2.png" alt="Avatar" style="width:100%"> -->
            <div class="container">
              <h4>
                  <input type="text" placeholder="Change Name" ngModel name="name">

                <input class="friendbutton" type="submit" value="Save Changes">
              </h4> 
              
              <p><i class="material-icons">email</i> {{user.email}}</p> 
              <p><i class="material-icons">contact_phone</i> <input type="text" placeholder="Change Phone" ngModel name="phone"></p> 
            </div>
        </div>
        <div class="big-card">
            <div class="container">
              <h1>
                <b>Work Experience</b>
              </h1> 
              <textarea placeholder="some text..." ngModel name="workExp"></textarea>
            </div>
        </div>
        <div class="big-card">
            <div class="container">
              <h1>
                <b>Education</b>
              </h1> 
              <textarea placeholder="some text..." ngModel name="eduExp"></textarea>
            </div>
        </div>
        <div class="big-card">
            <div class="container">
              <h1>
                <b>Skills</b>
              </h1> 
              <textarea placeholder="some text..." ngModel name="skillsExp"></textarea>
            </div>
        </div>
        </form>
        </ng-template>
    </ng-template>
    
    
    

  </body>
</html>